<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b6b851ce-7793-4daa-8498-ef3e931682ad/resourcegroups/HolidayAssistant20190415124629ResourceGroup/providers/Microsoft.ContainerRegistry/registries/HolidayAssistant20190415124629</ResourceId>
    <ResourceName>HolidayAssistant20190415124629</ResourceName>
    <ResourceGroup>HolidayAssistant20190415124629ResourceGroup</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://holidayassistant20190415124629.azurecr.io/</RegistryUrl>
    <UserName>HolidayAssistant20190415124629</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>71ce0f1e-d0d7-4ac9-85eb-bbf5674902d7</ProjectGuid>
  </PropertyGroup>
</Project>